body {
  margin: 0;
  padding: 50px;
  background: #1f1f1f;
  min-height: 100dvh;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

@media (width < 768px) {
  body {
    font-size: 14px;
    padding: 50px 15px;
  }
}
